node_modules/*
static/admin/bundle.js
public/*
resources/*
.DS_Store
deploy.md
backstop_data/html_report/
bitmaps_test/
**/.terragrunt-cache
# Specifically include these files
!.devcontainer/Dockerfile
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v3/