// Font Imports
@include font-face("SourceSansPro", "../fonts/SourceSansPro-Bold",700, null, ttf);
@include font-face("SourceSansPro", "../fonts/SourceSansPro-BoldItalic",700, italic, ttf);

@include font-face("SourceSansPro", "../fonts/SourceSansPro-SemiBold",600, null, ttf);
@include font-face("SourceSansPro", "../fonts/SourceSansPro-SemiBoldItalic",600, italic, ttf);

@include font-face("SourceSansPro", "../fonts/SourceSansPro-Regular",400, null, ttf);
@include font-face("SourceSansPro", "../fonts/SourceSansPro-Italic",400, italic, ttf);

@import "font-awesome/fontawesome";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";


// CDS Base Styles and Style Overrides
html {
	scroll-behavior: smooth;
	height: 100%;
	position: relative;
}

:root {
	font-size: 16px;
}

body {
	box-sizing	: border-box;
	overflow-x: hidden;
	background-color: $bg-color;
	height: 100vh;
	font: var(--gcds-font-text);
}

h1 {
	font: var(--gcds-font-h1);
	padding: 0;
	margin: 0;
	border-bottom: none;

	@include mobile_only {
		padding: 0.85rem 0.85rem;
	}
}

h2 {
	font: var(--gcds-font-h2);
}

h3 {
	font: var(--gcds-font-h3);
}

h4 {
	font: var(--gcds-font-h4);
}

h5 {
	font: var(--gcds-font-h5);
}

h6 {
	font: var(--gcds-font-h6);
}

ul,ol, li, p {
	font: var(--gcds-font-text-long);
}

a {
	font: inherit;
	text-decoration-thickness: var(--gcds-link-decoration-thickness);
    text-underline-offset: var(--gcds-link-underline-offset);

	&:hover {
		color: var(--gcds-link-hover);
    	text-decoration-thickness: var(--gcds-link-hover-decoration-thickness);
	}

	&:focus {
		background-color: var(--gcds-link-focus-background);
		border-color: var(--gcds-link-focus-background);
		border-radius: var(--gcds-link-focus-border-radius);
		box-shadow: var(--gcds-link-focus-box-shadow);
		color: var(--gcds-link-focus-text);
		outline: var(--gcds-link-focus-outline-width) solid var(--gcds-link-focus-background);
		outline-offset: var(--gcds-link-focus-outline-offset);
		text-decoration: none;
	}
}

// this makes sure we have no gap at the bottom
.footer {
	position: absolute;
	width: 100%;
}

//addressing the forced margin on gcds header menu
header[role=banner] {
	margin-bottom: -0.75rem;

	.page-banner {
		margin-top: -0.75rem;
		margin-bottom: 0.75rem;
	}
}

html .container {
	width: 100%;
	// temporary calc to account for the padding that column classes have
	max-width: calc(71.25rem + 30px);

	@include mobile_only {
		width: 100%;
	}
}

//TODO: this overwrites the whole purpose of the col and we need to reevaluate as right now it breaks trying to use it
.col-sm-10,
.col-sm-offset-1 {
	margin: 0;
	width: 100%;
}

.col-md-9 {
	margin: 0;
	width: 75%;
}

.section {
	padding: 4rem 0;
	position: relative;
	z-index: 0;
	margin: 0 auto;
	width: 100%;

	@include mobile_only {
		padding: 1.67rem 0;
	}
}

.form-sub-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 30vh;
	@include tablet {
		min-height: 48vh;
	}
}

.row {
	width: 100%;
}

input.error {
	border: 2px solid red;
}

.form-group {
	margin-top: 1.5rem;

	input {
		width: 50% !important;
	}
	textarea {
		width: 75% !important;
	}
}

.form-group.error {
	padding-left: 10px;
	border-left: 4px solid red;
}

.error-message {
	color: red;
}

ol ul, ol ol, ul ul, ul ol {
	margin-bottom: 0rem;
}

.bolded {
	font-weight: 500;
}

.italic {
	font-style: italic;
}

.bg-med-grey {
	background: $medium-grey;
}