////////////////////////////////////////////////////
//
// BLOG LISTING/BLOG PAGE
//
////////////////////////////////////////////////////
.blogpost-list {
  padding: 0;
  list-style: none;
  margin-top: 1.85rem;

  .post {
    @include sm_desktop_screen {
      width: 100%;
    }
  }

  .post:nth-child(odd) {
    margin-right: 30px;

    @include sm_desktop_screen {
      margin-right: 0;
    }
  }

  .post-container {
    border-bottom: 2px solid $background-grey;

    @include sm_desktop_screen {
      height: 100%;
    }
  }

  .date {
    font-size: 0.84rem;
    color: $section-bg-grey;
    padding: 5px 0;

    @include tablet {
      font-size: 0.98rem;
      font-weight: 300;
    }
  }

  .text {
    line-height: 1.4;
  }

  h2 {
    margin-top: 0;
    font-size: 1.11rem;
  }

  a {
    text-decoration: none;
  }

  .text-container {
    padding: 0.85rem 0 1.5rem 0;
  }
  .blog-title {
    text-decoration: none;
  }

  .author {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.65rem;

    @include tablet {
      // This rule will limit the number of lines to 3
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .summary {
    color: $icon-grey;
    font-size: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      // This rule will limit the number of lines to 5
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  .readmore {
    margin-top: 1.11rem;

    a {
      font-size: 1rem;
      display: inline-block;
      text-decoration: underline;
    }
  }

  & li.pagination {
    position: relative;
    padding: 0 0.4em;
  }

  .pagination.active a {
    background: $primary-color;
    border: 2.5px solid $primary-color;

    &:hover {
      border: 2.5px solid $black;
    }
  }

  & li.active a::after {
    width: 100%;
    display: inline-block;
    content: "";
    height: 4px;
    position: absolute;
    left: 0%;
  }

  & .blogpost-paginator {
    text-align: center;
    padding: 0;
    width: 100%;

    a {
      text-decoration: none;
      border: 2.5px solid $black;
      padding: 7.5px 10px;

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
}

////////////////////////////////////////////////////
//
// SINGLE BLOG
//
////////////////////////////////////////////////////
.page-blogpost {
  .header-translation {
    font-size: 0.97rem;
    font-weight: 100;
    line-height: 1.25rem;
    padding-top: 1.11rem;
    padding-bottom: 1.11rem;

    @include desktop {
      margin-top: -3.33rem;
      padding-bottom: 3.33rem;
    }
  }

  .translation-caption {
    font-size: 0.83rem;
    clear: both;
    line-height: 1.38rem;
  }


  .post-meta {
    margin: 1.38rem 0;
    padding-bottom: 10px;
    position: relative;
    display: block;
  }

  time {
    font-size: 1.11rem;
    font-weight: 100 !important;
  }

  p {
    margin-bottom: 1.53rem;
    line-height: 1.6em;

    @include desktop {
      font-size: 1.25rem;
    }
  }
}

.blog-single {
  padding-top: 4rem;

  .container {
    // more css shenanigans for grid alignment stuff btwen bootstrap and GCDS
    padding: 0 30px;
  }
}

article.post {

  img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      max-height: 450px;
    }
  }

  a.large-link {
    @include tablet {
      font-size: 1.25rem;
    }
  }

  .post-header {
    font-weight: 600;
    font-size: 0.84rem;
    margin: 0rem 0 1.11rem 0;

    time {
      display: block;
      font-weight: 500;
    }

  }
}


// Style for text image wrap in blog posts
.flex-blog {
  display: flex;
  flex-direction: row;

  @include mobile_only {
    display: block;
  }

  .flex-text {
    width: 65%;
    margin-right: 15px;
    @include mobile_only {
      width: 100%;
      margin-right: 0;
    }
  }

  .flex-image {
    width: 35%;
    height: 100%;

    @include mobile_only {
      width: 80%;
      margin: 20px 0;
    }

  }
}

// Style for Field Note tables (in our Blog section)
.field-note {
  .bold {
    font-weight: 500;
  }
 }

 .logo-field-note {
  background-image: url("../img/cds/cds-logo-en-v2.svg");
 }

 .logo-field-note-fr {
  background-image: url("../img/cds/cds-logo-fr-v2.svg");
 }

 .logo-field-note,
 .logo-field-note-fr {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 10px;
 }

 .field-note-title {
  background-color: $action-orange;
  border: none;
 }

 .page-blogpost .field-note-header {
  background-color: $action-orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
  padding-top: 15px;
  color: $black;

  h2 {
    font-size: 1.85em;
    margin-bottom: 0;
  }
 }

 .page-blogpost .field-note-subheader {
  padding-top: 0;
  padding-bottom: 0;

  h3 {
    font-size: 1rem;
  }
 }

 .unbold {
  font-weight: 100;
 }

 .field-note-img {
  max-width: 70%;
  margin: 15px 0;
 }

// Style for Diary (in our Blog section)
.diary-entry {
  display: inline-block;
  position: relative;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  padding: 30px 30px 30px 100px;

  @include mobile_only {
    padding: 0px 20px;
  }

  .bold {
    font-weight: 700;
  }

  td, th {
    border: 1px solid transparent;
  }

  .diary-img {
    width: 30%;
  }
 }

 .diary-entry:before{
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 80px;
  background: radial-gradient(#575450 10px, transparent 7px) repeat-y;
  background-size: 70px 70px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;

  @include mobile_only {
    display: none;
  }
 }