// Adapted from WET's Bootstrap based alerts
// https://wet-boew.github.io/v4.0-ci/demos/collapsible-alerts/collapsible-alerts-en.html




// Blogpost page
.page-blogpost {
  h1 {
    font-size: 2.55rem;
    font-weight: 100;
    margin-top: 0;
    margin-top: 0.83rem;
    color: $black;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  h2 {
    font-size: 1.67rem;
    line-height: 2.35rem;
  }
  h3 {
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .header-translation {
    font-size: 0.97rem;
    font-weight: 100;
    line-height: 1.25rem;
    padding-top: 1.11rem;
    padding-bottom: 1.11rem;

    @include desktop {
      margin-top: -3.33rem;
      padding-bottom: 3.33rem;
    }
  }

  .translation-caption {
    font-size: 0.83rem;
    clear: both;
    line-height: 1.38rem;
  }


  .post-meta {
    margin: 1.38rem 0;
    padding-bottom: 10px;
    position: relative;
    display: block;
  }

  time {
    font-size: 1.11rem;
    font-weight: 100 !important;
  }

  p {
    margin-bottom: 1.53rem;
    line-height: 1.6em;

    @include desktop {
      font-size: 1.25rem;
    }
  }
}


.security-notice-banner {
  display: flex;
  background-color: #D7E5F5;
  border-inline-start: 0.25rem solid #6584A6;
  color: #333;
  margin: 0 0 0.625rem;
  padding: 0.42rem;
}

.job-postings-container {

  .padding {
    // padding: 1.25rem 0;

    @include mobile_only {
      padding: 1.67rem 0;
    }
  }
  h1,
  h2 {
    color: black;
    margin-bottom: 1.67rem;
  }
  a {
    color: $alpha-color;
  }
  .cds-title {
    padding-top: 1.11rem;
    color: #6b3c18;
    font-size: 2.5rem;
  }
  .content {
    margin-top: 1.67rem;
    // background-color: #D7E5F5;
    li::marker {
      color: $career-brown;
    }

    ul {
      list-style-type: square;
    }
  }
  .h2-font-weight {
    font-weight: 600;
  }
}