////////////////////////////////////////////////////////////
//
// Canada Top Back Bar Header
//
////////////////////////////////////////////////////////////

#fip {
  background-color: #33465c;
  padding: 0.44rem;

  .container {
    padding: 0;
  }

  // Language Selector
  #wb-lng {
    padding-top: 0 !important;
  }

  .lang {
    display: block;
    text-align: right;
    width: 100%;
    color: $white;

    a {
      display: inline-block;
      color: $white;
      margin-top: 0.42rem;
      text-align: center;
      text-decoration: none;
      padding-bottom: 0.55rem;
      border-bottom: #425A76 1px solid;
      transition: all 0.3s ease-in-out;
      

      &:hover {
        border-bottom: #CCC 1px solid;
      }

      @include desktop {
        font-weight: 200;
        font-size: 1.11rem;
      }

      @include tablet {
        font-size: 0.84rem;
      }
    }
  }
}

.fip__content {
  display: flex;
  align-items: center;

  img {
    max-width: 52px;
    @include desktop {
      max-width: 58px;
    }
  }
}

////////////////////////////////////////////////////////////
//
// TOP PAGE BANNER
//
////////////////////////////////////////////////////////////

#wb-sm {
  background: none;
  position: relative;
}

.page-banner {
  background-size: cover;
  background-position: center center;
  &.standard {
    background-image: url("/img/cds/banner-background.svg");
  }
  &.error {
    background-image: url("/img/cds/error-banner.svg");
  }

  &.sorry-error {
    background-image: url("/img/cds/error-banner.svg");
  }

  position: relative;

  .page-blogpost & {
    height: 13.88rem;

    @include tablet {
      height: 16.66rem;
    }

    @include desktop {
      height: 22.22rem;
    }
  }
}

.h1 {
  width: calc(70% - (15px / 2));

  @include mobile_only {
    width: 100%;
  }
}

.page-banner--title {
  display: block;
  font-weight: 100;
  text-align: left;
  width: 100%;
  padding: 35px 0 25px 0;

  h1 {
    border-bottom: none;
    font-size : 2.55rem;
    color: $white;
    font-weight: 100;
    margin: 0.84rem;
    padding: 0;
  }
}

main {
  position: relative;
  z-index: 0;
}

// Generic page styles
blockquote{
  border-left: 5px solid $primary-color;
}

hr {
  border: 0.5px solid $medium-grey;
  margin: 30px 0;
}



// Universal style for tables
table,
td,
th {
  border: 1px solid $icon-grey;
}

table {
  display: table;
  width: 100%;
  margin: 25px 0;
}

th {
  color: $white;
  background-color: $icon-grey;
  font-weight: 500;
}

td, th {
  padding: 10px 20px;
  vertical-align: top;
}

td {
  font-weight: 100;
  color: $icon-grey;
}

th,
td {
  // same base styles as p, main ul, main ol
  font-size: 0.97rem;

	@include tablet {
		font-size: 0.7rem;
	}

	@include desktop {
		font-size: 1.25rem;
		line-height: 1.95rem;
		margin-bottom: 1.53rem;
	}
}

// Style for text image wrap in blog posts

.flex-blog {
  display: flex;
  flex-direction: row;

  @include mobile_only {
    display: block;
  }

  .flex-text {
    width: 65%;
    margin-right: 15px;
    @include mobile_only {
      width: 100%;
      margin-right: 0;
    }
  }

  .flex-image {
    width: 35%;
    height: 100%;

    @include mobile_only {
      width: 80%;
      margin: 20px 0;
    }

  }
}

// Style for Field Note tables (in our Blog section)
.field-note {
  .bold {
    font-weight: 500;
  }
 }

 .logo-field-note {
  background-image: url("../img/cds/cds-logo-en-v2.svg");
 }

 .logo-field-note-fr {
  background-image: url("../img/cds/cds-logo-fr-v2.svg");
 }

 .logo-field-note,
 .logo-field-note-fr {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 10px;
 }

 .field-note-title {
  background-color: $action-orange;
  border: none;
 }

 .page-blogpost .field-note-header {
  background-color: $action-orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
  padding-top: 15px;
  color: $black;

  h2 {
    font-size: 1.85em;
    margin-bottom: 0;
  }
 }

 .page-blogpost .field-note-subheader {
  padding-top: 0;
  padding-bottom: 0;

  h3 {
    font-size: 1rem;
  }
 }

 .unbold {
  font-weight: 100;
 }

 .field-note-img {
  max-width: 70%;
  margin: 15px 0;
 }

// Style for Diary (in our Blog section)
.diary-entry {
  display: inline-block;
  position: relative;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  padding: 30px 30px 30px 100px;

  @include mobile_only {
    padding: 0px 20px;
  }

  .bold {
    font-weight: 700;
  }

  td, th {
    border: 1px solid transparent;
  }

  .diary-img {
    width: 30%;
  }
 }

 .diary-entry:before{
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 80px;
  background: radial-gradient(#575450 10px, transparent 7px) repeat-y;
  background-size: 70px 70px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;

  @include mobile_only {
    display: none;
  }
 }

#wb-info a:hover {
  text-decoration: underline;
}
