////////////////////////////////////////////////////////////
//
// TOP PAGE BANNER
//
////////////////////////////////////////////////////////////

.page-banner {
  background-size: cover;
  background-position: center center;
  &.standard {
    background-image: url("/img/cds/banner-background.svg");
  }
  &.error {
    background-image: url("/img/cds/error-banner.svg");
  }

  &.sorry-error {
    background-image: url("/img/cds/error-banner.svg");
  }

  position: relative;

  .page-blogpost & {
    height: 13.88rem;

    @include tablet {
      height: 16.66rem;
    }

    @include desktop {
      height: 22.22rem;
    }
  }
}

.page-banner--title {
  display: block;
  font-weight: 100;
  text-align: left;
  width: 100%;
  padding: 35px 0 25px 0;

  h1 {
    border-bottom: none;
    font-size : 2.55rem;
    color: $white;
    font-weight: 100;
    margin: 0.84rem 0;
    padding: 0;
  }
}

main {
  position: relative;
  z-index: 0;
}

// Generic page styles
blockquote{
  position: relative;
  border: 0;
  padding: 0 4rem 0 4.5rem;
  margin: 3rem 0 2rem 0;

  @include desktop {
    width: 80%;
  }

  @include mobile_only {
    padding: 0 2rem 0 2.5rem;
  }

  &:before, &:after {
    display: inline-block;
    font-size: 6rem;
    font-family: serif;
    font-weight: 900;
    position: absolute;
    color: $alpha-color;

    @include mobile_only {
      font-size: 4rem;
    }
  }

  &:before {
    content: '\201C';
    left: 0;
    top: 0;
  }

  &:after {
    content: '\201D';
    right: 1rem;
    bottom: 0;

    @include mobile_only {
      right: 0;
    }
  }
}

hr {
  border: 0.5px solid $medium-grey;
  margin: 30px 0;
}

#wb-info a:hover {
  text-decoration: underline;
}
