////////////////////////////////////////////////////////////
//
// CDS LOGO
//
////////////////////////////////////////////////////////////

.cds-logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  height: 2.78rem;
  width: 13.88rem;

  // BILINGUAL SPECIFIC CDS LOGO
  &.en {
    background-image: url("../img/cds/cds-logo-blk-en.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-logo-blk-fr.svg");
  }
}

.menu-underline {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  color: #0535d2;
  text-decoration-thickness: 0.125rem;
}