////////////////////////////////////////////////////////////
//
//  CDS MAIN TOP BAR
//
////////////////////////////////////////////////////////////

.topbar {
  z-index: 999;
  padding-top: 2.22rem;
  padding-bottom: 1.11rem;

  @include logo_break {
    padding-top: 1.38rem;
  }

  .nav-container {
    width: max-content;
    margin-left: auto;
    margin-right: 0;
    @include tablet {
      padding-right: 0;

      .sticky & {
        padding-right: 0.84rem;
      }
    }
  }
}

////////////////////////////////////////////////////////////
//
// CDS LOGO
//
////////////////////////////////////////////////////////////

.cds-logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  

  @include mobile_only {
    height: 2.78rem;
    width: 11.11rem;
    display: none;
  }

  // added the below custom mixin to address menu content changes
  @include logo_break {
    height: 2.78rem;
    width: 12.5rem;
    position: absolute;
    top: 0;
  }

  @include menu_break {
    height: 2.78rem;
    width: 13.88rem;
    position: absolute;
    top: -1.11rem;
  }

  // BILINGUAL SPECIFIC CDS LOGO
  &.en {
    background-image: url("../img/cds/cds-logo-blk-en.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-logo-blk-fr.svg");
  }
}

.cds-logo-mobile {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    z-index: 1;
    height: 2.5rem;
    width: 2.5rem;
    
    @include mobile_only {
      display: block;
    }

  // BILINGUAL SPECIFIC CDS LOGO - MOBILE SCREEN
  &.en {
    background-image: url("../img/cds/cds-logo-en-v2.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-logo-fr-v2.svg") !important;
  }
}

////////////////////////////////////////////////////////////
//
// TOP NAVIGATION
//
////////////////////////////////////////////////////////////

.menu-items {
  padding: 0;
  // text-align: right;
  @include mobile_only {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }
  a {
    display: inline-block;
    position: relative;
    font-size: 1.11rem;
    color: black;
    @include mobile_only {
      display: block;
      padding-bottom: 1.67rem;
      
    }
    @include tablet {
      margin-right: 1.11rem;
    }
    text-decoration: none;
    

    &::after {
      display: block;
      position: absolute;
      content: "";
      background: #425A76;
      border: #425A76 0px solid;
      width: 0%;
      height: 4px;
      bottom: -0.45rem;
      transition: all 0.45s ease-in-out;
      left: 50%;
      transform: translateX(-50%);

    }

    &:hover:not(.dropdown a):after {
      @include tablet {
        width: 100%;
        border-width: 1px;
      }
    }

  }

  .underline {
    @include tablet {
      border-bottom: #425A76 4px solid;
    }
    
  }
}


////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION WRAPPER
//
////////////////////////////////////////////////////////////

#js-mobileNav {
  display: none;
  position: relative;

  // // below used to be @include tablet
  @include menu_break {
    display: block;
  }
  #js-mobileNav--button {
    display: none;
  }
  #mobile-lng {
    display: none;
  }
  .mobile-btns {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
  }

  &.active {
    .mobile-btns {
      padding: 2rem;
    }
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.988);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    animation: fadeIn 0.3s ease-in-out forwards;

    .menu-items-a {
      color: white;
    }

    #js-mobileNav--button {
      display: block;
    }
    #mobile-lng {
      display: block;
    }

    @include mobile_only {
      .home &,
      .accueil & {
        height: 100vh;

      }
    }

    & > main {
      z-index: -1;
    }
  }

  &.hiding {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  #js-mobileNav--button {
    background: none;
    color: $white;
    border: 1.45px solid white;
    padding: 7.5px 12.5px;
    top: 1.11rem;
    z-index: 1;


    .text {
      float: left;
      text-align: right;
      font-size: 0.98rem;
      font-weight: 100;
      text-transform: capitalize;
      margin-right: 10px;
    }

    .close-icon {
      float: right;
      font-size: 1.25rem;
    }


    @include mobile_only {
      display: block;
      position: fixed;
      left: 2.78rem;
      top: 1.11rem;
    }
  }

  .mobile-lang {
    display: block;
    text-align: right;
    color: $white;
    padding-left: 1.11rem;


    @include mobile_only {
      position: fixed;
      top: 1.28rem;
      right: 2.78rem;
    }

    a {
      display: inline-block;
      color: $white;
      font-size: 0.86rem;
      font-weight: 400;
      margin-top: 0.42rem;
      text-align: center;
      text-decoration: none;
      padding-bottom: 0.55rem;
      border-bottom: #000 1px solid;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-bottom: #ccc 1px solid;
      }
    }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION BUTTON (FOR TOP BAR)
//
////////////////////////////////////////////////////////////

.main-nav-button {
  display: inline;
  line-height: 0;
  padding: 10px 12.5px;
  border: 1.45px solid white;
  margin-top: 3.5px;
  background: none;
  float: right;
  z-index: 1;
  background-color: #31455c;

  .fa-bars {
    margin: 0px;
  }

  .home &,
  .accueil & {
    color: $white;
  }

  .sticky & {
    color: $dark-grey;
  }

  @include mobile_only {
    margin-right: 15px;
  }

  @include menu_break {
    display: none;
  }
}

.main-nav-button--text {
  display: inline-block;
  font-weight: 100;
  font-size: 0.97rem;
  text-transform: capitalize;
  margin-right: 5.5px;
  color: $white;

  .home &,
  .accueil & {
    color: $white;
  }
}

.main-nav-button--button {
  display: inline-block;
  text-align: center;
  color: $white;
}

////////////////////////////////////////////////////////////
//
// CDS TOPBAR
//
////////////////////////////////////////////////////////////

#wb-sm {
  background-color: #F1F2F3;
  
}

// Animations
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}

.mobile-margin {
  @include mobile_only {
    margin-top: 4.72rem;
  }
}