////////////////////////////////////////////////////////////
//
// CDS LOGO
//
////////////////////////////////////////////////////////////

.cds-logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 2.78rem;
  width: 13.88rem;

  // BILINGUAL SPECIFIC CDS LOGO
  &.en {
    background-image: url("../img/cds/cds-logo-blk-en.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-logo-blk-fr.svg");
  }
}

.cds-logo-mobile {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;

  // BILINGUAL SPECIFIC CDS LOGO - MOBILE SCREEN
  &.en {
    background-image: url("../img/cds/cds-logo-en-v2.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-logo-fr-v2.svg") !important;
  }
}