/*
  Here exists the CSS for page specific styles EXCEPT for the blog page,
  which you will find in _blogs.scss
*/
////////////////////////////////////////////////////
//
// HOMEPAGE
//
////////////////////////////////////////////////////
.homepage--intro {
  background-color: #31455c;
  color: $white;
  border-top: 1px solid $black;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $white;
    }
    @include tablet {
      h1 {
        width: 70%;
      }
      p {
        margin-top: 1rem;
      }
    }
    @include mobile_only {
      flex-direction: column;
      align-items: center;

      h1 {
        width: 100%;
        font-size: 1.95rem;
      }

      img {
        width: 100%;
      }

      p {
        padding-left: 0.85rem;
      }
    }
  }
}

.post-content {
  margin-bottom: 45px;
}

.partnership-products {
  padding-top: 2.78rem;

  h2 {
    margin-top: 0;
  }

  .first-list {
    padding: 3rem 0 3rem 0;
    background-color: #D7E5F5;
    ul {
      list-style: none;
      padding-left: 0;
    }
    ul li:before {
      content: '✓';
    }
  }

  .second-list {
    background-color: $light-grey;
    padding: 3rem 0 1rem 0;
  }

  .built-by {
    @include desktop {
      display: flex; 
      align-items: center
    }
  }

  @include mobile_only {
    img {
      width: 90%;
    }
  }
}

.row.equal {
  @include desktop {
    display: flex;
    margin-bottom: 2em;
  }
}

.col-lg-9 {
  width: 75%;
}

.title-container {
  display: flex;
}

////////////////////////////////////////////////////
//
// JOBS
//
////////////////////////////////////////////////////

.our-hiring-process {
  background-color: #D7E5F5;
  padding: 2rem 0 2rem 0;
  position: relative;

  &:before {
    content: ' ';
    display: none;
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    height: calc(100% - 80px);
    opacity: 0.4;
    background-image: url("/img/cds/our-hiring-process.svg");
    background-size: 50%;
    background-position: left bottom;
    background-repeat: no-repeat;

    @include desktop {
      display: inline-block;
    }
  }
}

.work-with-us--section {
  padding: 2.75rem 0;

  h3:first-child {
    margin-top: 0;
  }
}

::-webkit-file-upload-button {
  background: #a6a6a6;
  color: black;
  padding: 7px;
  border-radius: 2px;
  height: 35px;
  font-size: 0.84rem;
  width: 130px;
}

.steps {
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__item {
    
    display: flex;
    margin: 1.22rem 0;

    p {
      margin-bottom: 0;
    }
  }

  &__item::before {
    background-color: $career-brown;
    color: $white;
    flex: 0 0 60px;
    height: 60px;
    font-size: 1.78rem;
    margin-right: 1.38rem;
    line-height: 1;
    line-height: 60px;
    text-align: center;
  }
}

.work-with-us--apply-now {
  #talent_tracking {
    legend {
      font: 600 1.25rem/120% "Noto Sans",sans-serif;
    }
  }
  #preferred-language {
    legend {
      font: 600 1.25rem/120% "Noto Sans",sans-serif;
    }
   }
  h2 {  
    margin-bottom: 1.65rem;
    margin-top: 1.65rem; 
  }
  label {
    color: black;
    font-size: 1.28rem;
    font-weight: 600;
  }
  .alt-label {
    font-weight: 400;
  }
  .url {
    font-size: 1.28rem;
    
  }
  input {
    width: 100%;
    border: 2px black solid;
  }
  textarea {
    width: 100%;
    border: 2px black solid;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
  }
  .browse {
    cursor: pointer;
    padding: 2px;
    background-color: white;
    margin-bottom: 1.11rem;
    margin-top: 0.55rem;
    width: fit-content;
    border: 2px solid #26374A;
    border-radius: 5px;

    div {
      cursor: pointer;
      color: #26374A;
      margin: 0.55rem;
      font-size: 1.28rem;
      font-weight: 600;
    }

  }
  .resume {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .no-file-chosen {
    font-size: 1.22rem;
    font-weight: 100;
    margin-left: 1.11rem;
  }
  .help-text {
    font-size: 1.28rem;
  }

  .loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;

  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }

  .privacy-link {
    margin-bottom: 2.22rem;
    a {
      color: black;
      font-weight: 600;
    }
  }
}

// SINGLE JOB POSTING
.job-postings-container {
  //TO DO: this might require a reassessment when we have postings again
  .padding {
    @include mobile_only {
      padding: 1.67rem 0;
    }
  }
  .content {
    margin-top: 1.67rem;
  }
}

////////////////////////////////////////////////////
//
// ABOUT-US
//
////////////////////////////////////////////////////
.stay-in-touch {
  list-style: none;
  padding: 0;
}

////////////////////////////////////////////////////
//
// LEGAL (security, privacy, terms, etc.)
//
////////////////////////////////////////////////////
.security-notice-banner {
  display: flex;
  background-color: #D7E5F5;
  border-inline-start: 0.25rem solid #6584A6;
  color: #333;
  margin: 0 0 0.625rem;
  padding: 0.42rem;

  h3 {
    font-size: 1.5rem;
    margin-top: 0.6rem;
  }
}