////////////////////////////////////////////////////
//
// FRONTPAGE
//
////////////////////////////////////////////////////

.accueil,
.home {
  h2 {
    font-size: 1.95rem;
    margin-bottom: 1.11rem;
    text-align: left;
  }

  @include mobile_only {
    .title-align {
      text-align: left;
      margin-bottom: 0.55rem;
    }
  }
  @include tablet {
    .title-align {
      text-align: left;
      margin-bottom: 0.55rem;
    }
  }
  @include desktop {
    .title-align {
      text-align: right;
    }
  }

  .title-link {
    color: $dark-grey;
    text-align: right;
    font-size: 1.11rem;
    text-decoration: underline;

    &:hover {
      color: $black;
    }
  }
}

.homepage--intro {
  background-color: #31455c;
  color: $white;
  border-top: 1px solid $black;

  h1 {
    font-size: 2.22rem;
    margin-top: 2.22rem;
    // padding-right: 4rem;

    @include mobile_only {
      font-size: 1.38rem;
      width: 100%;
      margin-top: 0;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $white;
    }
    @include tablet {
      h1 {
        width: 70%;
      }
      p {
        margin-top: 1rem;
      }
    }
    @include mobile_only {
      flex-direction: column;
      align-items: center;

      h1 {
        width: 100%;
        font-size: 1.95rem;
      }
      img {
        width: 100%;
        // align-self: center;
      }
      p {
        padding-left: 0.85rem;
      }
    }
  }
}

.post-content {
  margin-bottom: 45px;
}

////////////////////////////////////////////////////
//
// PRODUCT DASHBOARD
//
////////////////////////////////////////////////////
.row.equal {
  @include desktop {
    display: flex;
    margin-bottom: 2em;
  }
}

.col-lg-9 {
  width: 75%;
}

.title-container {
  display: flex;
}


////////////////////////////////////////////////////
//
// JOIN OUR TEAM
//
////////////////////////////////////////////////////

.our-hiring-process {
  background-color: #D7E5F5;
  padding: 2rem 0 2rem 0;
  position: relative;

  &:before {
    content: ' ';
    display: none;
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
    height: calc(100% - 80px);
    opacity: 0.4;
    background-image: url("/img/cds/our-hiring-process.svg");
    background-size: 50%;
    background-position: left bottom;
    background-repeat: no-repeat;

    @include desktop {
      display: inline-block;
    }
  }
}

.work-with-us--section {
  padding: 1.67rem 0 2.22rem 0;
}

::-webkit-file-upload-button {
  background: #a6a6a6;
  color: black;
  padding: 7px;
  border-radius: 2px;
  height: 35px;
  font-size: 0.84rem;
  width: 130px;
}

.steps {
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  h4 {
    font-size: 1.75rem;
  }

  &__item {
    
    display: flex;
    margin: 1.22rem 0;

    p {
      margin-bottom: 0;
    }
  }

  &__item::before {
    background-color: $career-brown;
    color: $white;
    flex: 0 0 60px;
    height: 60px;
    font-size: 1.78rem;
    margin-right: 1.38rem;
    line-height: 1;
    line-height: 60px;
    text-align: center;
  }

  h4 {
    margin-top: 0;
  }
}

.work-with-us--apply-now {
  
  h2 {
    
    margin-bottom: 1.65rem;
    margin-top: 1.65rem;
    
  }
  label {
    color: black;
    font-size: 1.28rem;
    font-weight: 600;
  }
  .alt-label {
    font-weight: 400;
  }
  .url {
    font-size: 1.28rem;
    
  }
  input {
    width: 100%;
    border: 2px black solid;
  }
  textarea {
    width: 100%;
    border: 2px black solid;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
  }
  .browse {
    cursor: pointer;
    padding: 2px;
    background-color: white;
    margin-bottom: 1.11rem;
    margin-top: 0.55rem;
    width: fit-content;
    border: 2px solid #26374A;
    border-radius: 5px;

    div {
      cursor: pointer;
      color: #26374A;
      margin: 0.55rem;
      font-size: 1.28rem;
      font-weight: 600;
    }

  }
  .resume {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .no-file-chosen {
    font-size: 1.22rem;
    font-weight: 100;
    margin-left: 1.11rem;
  }
  .help-text {
    font-size: 1.28rem;
  }

  .submit-button {
    position: relative;
    padding: 8px 16px;
    margin-bottom: 0.84rem;
    background-color: #000000;
    border: none;
    display: inline-block;
    
    @include label;
    padding: 10px 15px;
    border: none;

    &.inactive {
      cursor: not-allowed;
      pointer-events: all !important;
    }
  }
  .submit-button-text {
    color: white !important;
    transition: all 0.2s;
  }

  .loading .submit-button-text{
    visibility: hidden;
    opacity: 0;
  }
  .loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;

  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }

  .privacy-link {
    margin-bottom: 2.22rem;
    a {
      color: black;
      font-weight: 600;
    }
  }
}

////////////////////////////////////////////////////
//
// BLOG LISTING
//
////////////////////////////////////////////////////
.blogpost-list {
  padding: 0;
  list-style: none;
  margin-top: 1rem;

  @include sm_desktop_screen {
    // flex-direction: column;
    // width: 80%;
    // margin: 0 auto 30px auto;
  }

  .post {
    // width: 90%;
    // margin-bottom: 30px;

    @include sm_desktop_screen {
      width: 100%;
      // margin: 0 auto 30px;
    }
  }

  .post:nth-child(odd) {
    margin-right: 30px;

    @include sm_desktop_screen {
      margin-right: 0;
    }
  }

  .post-container {
    // background-color: #ffffff;
    // box-shadow: 5px 8px 5px #e1e4e7;
    border-bottom: 2px solid $background-grey;
    // margin: 0 auto;

    @include tablet {
      // height: 615px;
    }

    @include sm_desktop_screen {
      height: 100%;
    }
  }

  .date {
    font-size: 0.84rem;
    color: $section-bg-grey;
    padding: 5px 0;

    @include tablet {
      font-size: 0.98rem;
      font-weight: 300;
    }
  }

  .text {
    line-height: 1.4;
  }

  h2 {
    margin-top: 0;
    font-size: 1.11rem;
  }

  a {
    text-decoration: none;
  }

  .text-container {
    padding: 0.85rem 0 1.5rem 0;
  }
  .blog-title {
    text-decoration: none;
  }

  .author {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.65rem;

    @include tablet {
      // This rule will limit the number of lines to 3
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .summary {
    color: $icon-grey;
    font-size: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      // This rule will limit the number of lines to 5
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  .readmore {
    margin-top: 1.11rem;

    a {
      font-size: 1rem;
      display: inline-block;
      text-decoration: underline;
    }
  }

  & li.pagination {
    position: relative;
    padding: 0 0.4em;
  }

  .pagination.active a {
    background: $primary-color;
    border: 2.5px solid $primary-color;

    &:hover {
      border: 2.5px solid $black;
    }
  }

  & li.active a::after {
    width: 100%;
    display: inline-block;
    content: "";
    height: 4px;
    position: absolute;
    left: 0%;
  }

  & .blogpost-paginator {
    text-align: center;
    padding: 0;
    width: 100%;

    a {
      text-decoration: none;
      border: 2.5px solid $black;
      padding: 7.5px 10px;

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
}

.blog-single {
  background: white;
}

article.post {

  img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      max-height: 450px;
    }
  }

  a.large-link {
    @include tablet {
      font-size: 1.25rem;
    }
  }

  .post-header {
    font-weight: 600;
    font-size: 0.84rem;
    margin: 0rem 0 1.11rem 0;

    time {
      display: block;
      font-weight: 500;
    }

  }
}

////////////////////////////////////////////////////
//
// CONTACT
//
////////////////////////////////////////////////////

.bg-white + .section--mailing-list {
  background: white;
}

// Privacy modal styles
#privacy-notice-modal {
  position: relative;
}

.modal-container {
  width: 80%;
  margin: 40px auto;
}

.modal-content {
  // overflow-y: initial !important;
  height: 100vh;
  z-index: 100;
  background: $black;
}

.overlay-def header {
  padding: 5px 10px 0 15px;
}

#privacy-notice-modal .modal-header-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
}

.mfp-close {
  font-size: 1.11rem;
  cursor: pointer;
  background: none;
  border: none;
  margin: 5px 0 0 0;
  padding: 0;
  width: 25px;
}

.modal-body {
  height: 600px;
  overflow-y: auto;
}

.mfp-preloader {
  display: none;
}

.btn-sm {
  display: none;
}

.overlay-close {
  display: none;
}

// TODO - update general CSS for the main content section
// and create specialized H3's etc. where needed.
.page-legal {
  h2 {
    font-weight: 600;
    font-size: 2.1rem;
  }

  h3 {
    font-weight: 600;
    margin-top: 0.75rem;

    @include desktop {
      font-size: 1.35rem;
      // margin: 1.5rem 0 0.5rem 0;
    }
  }
}

////////////////////////////////////////////////////
//
// STORIES
//
////////////////////////////////////////////////////

.story-text {
  background-color: $black;
  color: $white;
  padding-top: 1.67rem;

  @include mobile_only {
    height: auto;
    padding-bottom: 1.67rem;

    h2 {
      font-size: 1.38rem;
      margin-top: 1.67rem;
    }
  }
  
  @include tablet {
    height: auto;
    padding-bottom: 2.78rem;
  }

  @include desktop {
    height: 52rem;
  }

  .container {
    width: 70%;
  }
}

.story-image {
  padding: 0;

  .image-container {
    background-size: cover;
    background-position: center center;

    @include tablet {
      height: 27.75rem;
    }

    @include desktop {
      height: 52rem;
    }

    @include mobile_only {
      height: 22.25rem;
    }
  }
}

////////////////////////////////////////////////////
//
// PARTNERSHIPS PAGE
//
////////////////////////////////////////////////////

.partnership-products {
  padding-top: 2.78rem;

  h2 {
    font-weight: 600;
    font-size: 2rem;
  }

  .first-list {
    padding: 3rem 0 3rem 0;
    background-color: #D7E5F5;
    ul {
      list-style: none;
      padding-left: 0;
    }
    ul li:before {
      content: '✓';
    }
  }

  .second-list {
    background-color: $light-grey;
    padding: 3rem 0 1rem 0;
  }

  .built-by {
    @include desktop {
      display: flex; 
      align-items: center
    }
  }

  @include mobile_only {
    img {
      width: 90%;
    }
  }
}

.stay-in-touch {
  list-style: none;
  padding: 0;
}


////////////////////////////////////////////////////
//
// PRODUCT SUITE
//
////////////////////////////////////////////////////
.card-title {
  div {
    padding: 1.11rem 0 1.11rem 0;
  }
  h2 {
    font-weight: 400;
    font-size: 2.11rem;
  }
}

.checklist {
  ul {
    padding: 0; 
    list-style-type: none;
     li {
       padding-bottom: 0.55rem;
       i {
        color: #115740;
       }
       
     }
  }
}

.h2-style {
  h2 {
    font-weight: 600;
    font-size: 2.11rem;
  }
}