<div class="container">
    <gcds-breadcrumbs>
        <gcds-breadcrumbs-item href={{ .Site.BaseURL | absLangURL }}>Home page</gcds-breadcrumbs-item>
        {{ if (eq .Page.Type "blog") }}
            {{ with .GetPage "blog" }}
                <gcds-breadcrumbs-item href={{ .Page.RelPermalink | absLangURL }}>{{ .Page.Title | title }}</gcds-breadcrumbs-item>
            {{ end }}
            <gcds-breadcrumbs-item href={{ .Page.RelPermalink | absLangURL }}>{{ .Page.Title | title }}</gcds-breadcrumbs-item>
        {{ else }}
            <gcds-breadcrumbs-item href={{ .Page.RelPermalink | absLangURL }}>{{ .Page.Title | title }}</gcds-breadcrumbs-item>
        {{ end }}
    </gcds-breadcrumbs>
</div>