<div id="fip">
    <div class="container">
        <div class="row fip__content">
            <div class="col-sm-8 col-md-8 col-xs-12">
                <div  style="display: flex; align-items: center;">
                    <div>
                        <img alt="{{ i18n "fip-logo-alt"}}" src="/img/cds/Flag.svg" />
                    </div>
                    <div style="margin-left: 1rem;">
                        <span style="color: white;">{{ i18n "fip-header" }}</span>
                    </div>
                </div>  
            </div>
            <div class="col-sm-4 col-md-4">
                <section id="wb-lng" class="visible-sm visible-md visible-lg">
                    <h2>{{ i18n "language-selection" }}</h2>
                    <div id="lang" class="lang">
                        {{ partial "langSwitch.html" . }}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>