<div id="fip">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <!-- <a href="https://www.canada.ca/{{ string (.Site.Language) }}.html" class="fip-logo gl-FIP" aria-label="{{ i18n "aria-canada-website" }}">
                    <object type="image/svg+xml" tabindex="-1" role="img" aria-label="{{ i18n "goc-symbol" }}" class="logo {{.Site.Language.Lang}}"></object>
                </a> -->
                <div style="display: flex;">
                    <div>
                        <img src="/img/cds/Flag.svg" />
                    </div>
                    <div style="margin-left: 1rem;">
                        <span style="color: white;">The Canadian Digital service is a part of the Government of Canada. Here’s how you know</span>
                    </div>
                    
                    
                </div>
                <!-- <img src="/img/cds/Flag.svg" /> -->
                <!-- <span style="color: white; margin-left: 1rem;">The Canadian Digital service is a part of the Government of Canada. Here’s how you know</span> -->
            </div>
            <div class="col-xs-4">
                <section id="wb-lng" class="visible-sm visible-md visible-lg">
                    <h2>{{ i18n "language-selection" }}</h2>
                    <div id="lang" class="lang">
                        {{ partial "langSwitch.html" . }}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>