<gcds-header lang-href="#" skip-to-href="#">
    {{ range .Translations}}
        <gcds-lang-toggle slot="toggle" href="{{ .Permalink }}"></gcds-lang-toggle>
    {{ end }}

    <gcds-top-nav label="Top navigation" alignment="right" slot="menu">
        <gcds-nav-link href={{ .Site.BaseURL | absLangURL }} lang="{{.Language}}" class="cds-logo {{.Site.Language.Lang}}" slot="home" slot="left" aria-label="{{ i18n "aria-cds-website" }}" id="cds-logo" ></gcds-nav-link>
        {{ $title := .Params.title }}
        {{ range $menu := .Site.Menus.main }}
        <gcds-nav-link href="{{ .URL | relLangURL }}" class="{{ if eq $title .Identifier }} menu-underline{{end}}">{{ .Name }} </gcds-nav-link>
        {{ end }}
    </gcds-top-nav>    
</gcds-header>
