<nav class="social-links-footer" aria-label='{{i18n "contact-us"}}'>
  <span id="contact-us-links"></span>
  <div class="container">
    <div class="row equal">
      <div class="col-md-4 nopadding">
        <div class="border-white">
          <ul class="ul-margin">
            <li><a href="{{ i18n "accessibility-link" }}">{{i18n "accessibility"}}</a></li>
          </ul>
          <ul>
            <li><a href="{{ i18n "past-projects-link" }}">{{i18n "past-projects"}}</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>