{{ define "title" }}
{{ partial "menu.html" . }}
{{ end }}

{{ define "index" }}




<section class="partnership-products">
  {{ $home_products := where .Site.Pages "Section" "==" "products"}}
  <div class="container">
    <div class="row equal">
      {{ range $prod_index, $prod := after 1 $home_products}}
      {{ if and (ne $prod_index 0) (eq (mod $prod_index 2) 0) (ne .Params.description nil)}}
    </div>
    <div class="row equal">
      {{ end }}

      <div class="col-md-6 col-xs-12">
        <gcds-card card-title="{{ .Params.title }}" href="{{ .Params.link }}" tag="Tag"
          description="{{ .Params.description }}" img-src="{{ .Params.image }}"></gcds-card>
      </div>

      {{end}}
    </div>


  </div>
  <div>
    <div class="first-list" style="padding: 5rem 0 5rem 0;">
      <div class="container" style="display: flex; justify-content: space-between;">
        <img src="/img/cds/homepage-built-by-gov.svg" alt="" />
        <div style="margin: auto; width: 50%;">
          <h2>Built by government for government</h2>
          <ul>
            <li> Secure</li>
            <li> Accessible</li>
            <li> Bilingual</li>
            <li> Free to use</li>
            <li> Simple to integrate</li>
            <li> Supported by our in house team</li>
          </ul>
        </div>
      </div>
    </div>
    <div style="padding: 5rem 0 5rem 0;">
      <div class="container" style="display: flex; justify-content: space-between;">
        <div style="margin: auto; width: 50%;">
          <h2>Used by hundreds of public servants, including those from:</h2>
          <ul>
            <li>Immigration, Refugees and Citizenship Canada</li>
            <li>Employment and Social Development Canada</li>
            <li>Treasury Board of Canada Secretariat</li>
            <li>Royal Canadian Mounted Police</li>
            <li>Health Canada</li>
          </ul>
        </div>
        <img src="/img/cds/homepage-used-by-hundreds.svg" alt="" />
      </div>
    </div>
  </div>
  <!-- <div style="background-color: #425A76; padding: 3rem 0">
    <div class="container">
      <h2 style="color: white; font-weight: 600;">Contact CDS</h2>
      <div>
        <p style="color: white;">Reach out to learn if these products are right for you</p>
      </div>
      <gcds-button>Contact CDS <gcds-icon name="fa-solid fa-chevron-right"></gcds-icon></gcds-button>
    </div>
  </div> -->


</section>

{{ end }}