

{{ define "main" }}

                    
     

<section class="partnership-products">
  {{ $home_products := where .Site.Pages "Section" "==" "products"}}
  <div class="container">
    <div class="row equal">
      {{ range $prod_index, $prod := where .Site.Pages "Section" "==" "products"}}
      {{ if and (ne $prod_index 0) (eq (mod $prod_index 2) 0) (ne .Params.description nil)}}
    </div>
    <div class="row equal">
      {{ end }}
      
        <div class="col-md-6 col-xs-12">
          <gcds-card card-title="{{ .Params.title }}" href="{{ .Params.link }}" tag="{{$prod_index}}" description="{{ .Params.description }}" img-src="https://de2an9clyit2x.cloudfront.net/small_banner_security_snack_time_a5cd2fbf11.jpg"></gcds-card>
        </div>
        
      {{end}}  
    </div>

  </div>

  <!-- <div class=“container”>
    <h2>Built by government for government</h2>
  </div> -->
</section>

{{ end }}