

{{ define "main" }}

                    
     

<section class="page container homepage--how-we-can-help">
  <div style="display: flex;">
  
    {{ range $prod_index, $prod := where .Site.Pages "Section" "==" "products"}}
    {{ if ne .Params.description nil}}
    <div style="margin: 2rem; flex: 1; padding: 1em;">
      <gcds-card card-title="{{ .Params.title }}" href="{{ .Params.link }}" tag="Tag" description="{{ .Params.description }}" img-src="https://de2an9clyit2x.cloudfront.net/small_banner_security_snack_time_a5cd2fbf11.jpg"></gcds-card>
    </div>
    {{end}}
    
  {{end}}
  

  </div>
  <div class="container">
    <h2>Built by government for government</h2>
  </div>
</section>

{{ end }}