{{ define "main" }}
 {{ .Content }}
    <section>
        <div style="background-color: #D7E5F5;">
            <div class="container" style="padding-top: 2rem;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        <h2 class="h2-header">Contact CDS</h2>
                        <p>You can contact us by emailing <a href="mailto:cds-snc@tbs-sct.gc.ca">cds-snc@tbs-sct.gc.ca</a></p>
                    </div>
                    
                </div>
                
                
            </div>
        </div>
        <div class="container" style="padding-top: 2rem;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h2 class="h2-header">Stay in touch</h2>
                    <ul class="stay-in-touch">
                        <li>
                            <a href="">Newsletter</a>
                        </li>
                        <li>
                            <a href="">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{{end}}
