{{ define "main" }}
 {{ .Content }}
    <section>
        <div style="padding-bottom:1.75rem;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        <h2>{{ i18n "contact-cds"}}</h2>
                        <ul class="stay-in-touch">
                            <li>
                                <gcds-link href="mailto:cds-snc@servicecanada.gc.ca">cds-snc@servicecanada.gc.ca</gcds-link>
                            </li>
                            <li>
                                <gcds-link href="https://linkedin.com/company/{{$.Site.Data.contact.linkedin}}">LinkedIn <gcds-icon
                                    name="linkedin"
                                    label="LinkedIn"
                                    margin-left="100"
                                  /></gcds-link>
                            </li>
                            <li>
                                <gcds-link href={{ i18n "all-newsletter-past" }}>{{ i18n "newsletter" }} <gcds-icon
                                    name="newspaper"
                                    label={{ i18n "newsletter" }}
                                    margin-left="100"
                                  /></gcds-link>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
                
            </div>
        </div>
    </section>
{{end}}
