{{ define "main" }}
<div class="container section" style="display: flex; flex-direction: column;">
    <div>
        <ul id ="blog-list-result" class="blogpost-list">
            <li id="my-blog-li" class="post"></li>
        </ul>
        <!-- <div class="col-lg-4" style="padding-left: 6rem;">
            <h2 style="color: black;">Filter and Sort</h2>
            <ul style="list-style: none; padding-left: 0;">
                <li>tag</li>
                <li>medium tag</li>
                <li>quite lengthy tag</li>
            </ul>
        </div> -->


        
    </div>
    <div style="margin-left: auto; margin-right: auto;">
        <gcds-button id="blog-btn" button-id="load-more-blog-btn">Load more <gcds-icon name="fa-solid fa-chevron-right fa-rotate-90"></gcds-icon></gcds-button>
        <!-- <button id="load-more-blog-btn">Load More</button> -->
    </div>
    

</div>
{{ end }} 