{{ define "main" }}
<div class="container">

  <section class="padding" style="margin-top: 2.5rem;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p>At the <a href="/about/">Canadian Digital Service</a> (CDS) our mandate is to help government improve the way it designs and delivers
          services to people in
          Canada. We believe that public services should be easy to use, secure, reliable, accessible and inclusive for
          everyone – and we want your help!</p>

      </div>
    </div>
  </section>

</div>
<div>
  <div class="container job-postings-container">
    <section class="padding">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          {{.Content}}
        </div>

      </div>
    </section>

  </div>
</div>


<div style="background-color: #d6d9dd; margin-top: 1rem;">
  <div id="apply-now" class="work-with-us--apply-now container">
    {{ if or (eq .Params.archived false) (eq .Params.translationKey "evergreen-job-posting") }}
    <div style="padding-bottom: 3rem;">
      <h2>Apply</h2>
      <form enctype="multipart/form-data" id="contactForm">
        <input type="hidden" id="jobId" name="jobId" value="{{.Params.leverId}}" />
        
        <!-- Full Name -->
        <gcds-input input-id="name" label="Full name" size="100" required></gcds-input>

        <!-- Pronouns -->
        <gcds-input id="pronouns" label="Pronouns (optional)" input-id="pronouns" hint="Example: She/her, They/them" size="100"></gcds-input>

        <!-- Email -->
        <gcds-input input-id="email" label="Email address" type="email" required size="100">
        </gcds-input>

        <!-- Preferred Language -->
        <gcds-fieldset id="preferred-language" fieldset-id="preferredLang" legend="Preferred language for communication" required>
          <gcds-radio radio-id="englishId" label="English" name="preferredLang" value="English" checked></gcds-radio>
          <gcds-radio radio-id="frenchId" label="French" name="preferredLang" value="French"></gcds-radio>
        </gcds-fieldset>

        <!-- Resume -->
        <div style="margin: 1rem 0 1rem 0;">
          <gcds-file-uploader uploader-id="resume" label="Upload your resume" hint="PDF format preferred" required
            accept="application/msword, application/pdf, text/plain">
          </gcds-file-uploader>
        </div>


        <!-- Samples of your work -->
        <gcds-input input-id="samples" label="Examples of your work (optional)"
          hint="This can be a link to your portfolio, LinkedIn profile or other work samples" size="100">
        </gcds-input>


        <!-- Where did you hear about this job -->
        <gcds-fieldset id="talent_tracking" fieldset-id="talentTracking" legend="Where did you hear about this job posting" required>
          <gcds-radio radio-id="gcJobsId" label="jobs.gc.ca" name="talentTracking" value="jobs.gc.ca" checked></gcds-radio>
          <gcds-radio radio-id="linkedinId" label="LinkedIn" name="talentTracking" value="LinkedIn"></gcds-radio>
          <gcds-radio radio-id="facebookId" label="Facebook" name="talentTracking" value="Facebbok"></gcds-radio>
          <gcds-radio radio-id="queertechId" label="QueerTech community" name="talentTracking" value="QueerTech"></gcds-radio>
          <gcds-radio radio-id="referralId" label="Referred by a CDS employee" name="talentTracking" value="Referral"></gcds-radio>
          <gcds-radio id="other-Id" radio-id="otherId" label="Other" name="talentTracking" value="Other"></gcds-radio>
          <gcds-input input-id="specifyOther" label="If 'other', please specify (optional)" size="100"></gcds-input>

        </gcds-fieldset>

        <!-- Is there anything else we should know about you -->
        <gcds-textarea textarea-id="applicantInfo" label="Is there anything else we should know about you? (optional)" character-count="1000"></gcds-textarea>

        <!-- Accomodation information -->
        <div>
          <p><strong>Requesting accomodation</strong></p>
          <p>Equal access to job opportunities is important to us. If selected for an introductory call, we’ll ask if you have requests for <a href="https://www.canada.ca/en/government/publicservice/wellness-inclusion-diversity-public-service/diversity-inclusion-public-service/working-government-canada-duty-accommodate-right-non-discrimination.html">accommodation</a> during the hiring process.</p>
        </div>
        
        <!-- Submit-->
        <div>
          <gcds-button type="submit" id="job-submit-btn" button-id="submit-btn"> Submit application <gcds-icon
              name="fa-solid fa-chevron-right"></gcds-icon></gcds-button>
        </div>



      </form>
    </div>
    {{end}}
  </div>
</div>



{{ end }}