{{ define "main" }}

<section class="work-with-us--section joinus-section work-with-us--intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Work anywhere in Canada. Make government services better.
                </h2>

                <p>When you join the Canadian Digital Service (CDS),  you will be part of a team that does meaningful work on services that help people. </p>
                <p>You can work from anywhere in Canada, with flexible hours to enable a strong work-life balance. We have people working from coast to coast to coast. </p>
                <p>We provide the latest tools and technologies to help you do great work.</p>

            </div>
        </div>
    </div>
</section>



<section class="work-with-us--section joinus-section bg-med-grey">
    <div class="container">
        <div class="row">
            <!-- class="col-lg-8 col-xs-12" -->
            <div class="col-md-10">
                <div>
                    {{ if gt (len (where .Pages ".Params.archived" "==" false)) 0 }}

                    <div class="row">

                        <h2>Current openings</h2>
                        {{ range $p := (where .Pages ".Params.archived" "==" false) }}

                        <h4><a class="job-posting-link" href={{ .RelPermalink }}>{{ .Title }}</a></h4>

                        {{ end }}

                    </div>
                    {{ else }}
                    <h3> Current postings </h3>
                    <div>
                        <p style="margin-bottom: 2rem;">There are no job openings at this time. Please check back later.
                        </p>
                    </div>
                    {{end}}
                    <!-- Evergreen Job Posting -->
                    <div>
                        <h3>Be considered for future opportunities</h3>
                        <p>You can share your resume with us if there are no openings that are a fit. As positions
                            become available, applicants who meet qualifications will be contacted.</p>
                        {{ $c := (where .Site.Pages "Section" "==" "jobs") }}
                        {{ $positions := (where $c ".Params.translationkey" "==" "evergreen-job-posting") }}
                        {{ range $positions }}
                        <h4><a class="job-posting-link" href={{ .RelPermalink }}>{{ .Params.Title }}</a></h4>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="work-with-us--section">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h2>At CDS, we welcome and invite difference.</h2>
                </div>
                <div>
                    <p>We proudly, passionately, and actively strive to make CDS more reflective of the society that we
                        serve. We will only be able to deliver better, more accessible, and more inclusive public
                        services if we harness diverse thoughts, experiences, and skills. We work hard to create an
                        environment where different perspectives and experiences are valued. We are committed to helping
                        diverse talent thrive.</p>

                    <p>CDS welcomes all applicants, including Veterans and people of all races,
                        ethnicities, religions, sexual orientations, gender identities and expressions, national
                        origins, disabilities, ages, body sizes and including those with diverse households and family
                        commitments.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="our-hiring-process">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <img src="/img/cds/jobs-hiring-process.svg" alt="A person looking through a telescope at different online profiles of potential job candidates." />
            </div>
            <div class="col-md-6 col-lg-8">
                <h2 style="margin-top: 1rem;">Our hiring process</h2>
                <p>Our goal is to find the right fit for both you and CDS. When you apply, here’s what you can generally
                    expect:</p>

                <div>
                    <ol class="steps">
                        <li>
                            <h3>1. Confirmation</h3>
                            <p>After you apply, you’ll get an email to let you know we’ve received your application.</p>
                        </li>
                        <li>
                            <h3>2. Introductory call</h3>
                            <p>If we’d like to get to know you better, we’ll set up a brief chat to get further
                                information.</p>
                        </li>
                        <li>
                            <h3>3. Interviews</h3>
                            <span>You’ll be invited to a few video interviews: </span>
                            <ul>
                                <li>Discussion with the hiring manager</li>
                                <li>Technical interview panel (this could include an exercise)</li>
                                <li>Values interview panel</li>
                            </ul>
                        </li>
                        <li>
                            <h3>4. Reference checks</h3>
                            <p>We’ll call your references to learn more about your professional experiences.</p>
                        </li>
                        <li>
                            <h3>5. Job offer!</h3>
                            <p>We’ll make the formal offer and figure out when you can start.</p>
                        </li>
                    </ol>
                </div>

                <p>If you <strong>don’t</strong> get offered a job, we’d be happy to discuss your
                    application and explore future opportunities. In some cases, we’ll request to hold onto your
                    application for future reference, as there may be a fit down the road.</p>
            </div>
        </div>
    </div>
</section>

{{ end }}