{{ define "main" }}
<section class="container section">
    <h2>Information we collect automatically</h2>

    <div>
        <h2>IP addresses</h2>
        <p>By default, we log Internet Protocol (IP) addresses to monitor our website infrastructure and security. The
            IP address identifies the network location of the device you use to visit this website. We do not link these
            logs with any other information you might voluntarily provide while using the website, such as your name or
            email address. <br> You can read about how we handle this specific information in Electronic Network
            Monitoring Logs, PSU 905.</p>
    </div>

    <div>
        <h2>Web analytics</h2>
        <p>Analytics show us how people use our web pages. By studying how people navigate, we can improve this website.
            We do not use analytics to collect information that could identify you.</p>
        <p>We use Google Analytics for information about:</p>
        <ul>
            <li>Pages people visit, links they select and documents they download.</li>
            <li>Types of operating systems that visit this website.</li>
            <li>Browsers that visit this website and the browser’s approximate location.</li>
            <li>Date and time of visits.</li>
        </ul>
    </div>
    <div>
        <h2>You can voluntarily provide some information to us</h2>
        <p><br>If you choose to subscribe to our email newsletter or apply for a job using the CDS website, we collect
            the personal information indicated below.</p>
        <h2>Subscribing to our email newsletter</h2>
        <p>We use Mailchimp, a third-party application, to manage our email newsletter. Subscribing is voluntary and
            subject to Mailchimp's Terms of use. When you subscribe, you provide your email address and language
            preference (English or French) to us and Mailchimp. No other personal information is collected.
            You can read about how we handle this specific information in Outreach Activities, PSU 938.</p>

        <h2>Applying for a job at CDS</h2>
        <p>We use Lever Hire, a third-party application, to collect the information submitted in CDS job applications.
            Applications are subject to Lever Hire's Terms of Service. When you apply, you provide your name, contact
            information and past work experiences to us and Lever Hire.
            You can read about how we handle this specific information in Applications for Employment, PSU 911 and
            Staffing, PSU 902.</p>
        <h2>We protect your privacy</h2>
        <p>The Financial Administration Act section 7 allows us to collect the information described above.
            We handle your information under the Access to Information Act, Privacy Act and Public Servants Disclosure
            Protection Act. <br> We also follow the Directive on Privacy Practices. <br>If you have security concerns
            about this website or other CDS products, please see our Security Notice.</p>
        <h2>You have privacy rights</h2>
        <p>The law requires that we protect your privacy. You have the right to access and review your personal
            information. You can contact us to check or update any information you have entered via this website.
            You also have the right to raise concerns about how we handle your personal information. To learn more or to
            make a formal complaint, contact the Privacy Commissioner of Canada.</p>

    </div>
</section>
{{ end }}